<?xml version="1.0" encoding="UTF-8"?>
<woss>
	<gather class="com.briup.client.impl.GatherImpl">
		<path>woss/src/main/java/com/briup/bean/radwtmp</path>
		<gatherFileName>map.bak</gatherFileName>
		<countFileName>count.bak</countFileName>
	</gather>
	<client class="com.briup.client.impl.ClientImpl">
		<ip>127.0.0.1</ip>
		<port>10001</port>
		<bakFileName>client.bak</bakFileName>
	</client>
	<server class="com.briup.server.impl.ServerImpl">
		<port>10001</port>
	</server>
	<dbStore class="com.briup.server.impl.DBStoreImpl">
		<driverName>com.mysql.jdbc.Driver</driverName>
		<url>jdbc:mysql://127.0.0.1:3306/woss?characterEncoding=utf8</url>
		<user>root</user>
		<password>nicksong</password>
		<bakFileName>dbStore.bak</bakFileName>
	</dbStore>
	<backup class="com.briup.backup.impl.Backups">
		<path>woss/src/main/java/com/briup/data/</path>
	</backup>
</woss>